@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

.card {

	box-sizing:border-box;
	font-family: 'Space Mono', monospace;
	margin: 0 auto;
}

.title {

    margin-bottom: 30px;
    color: #162969;
}

.card {

	width: 320px;
	height: 190px;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective:600px;  
}

.card__part {

	box-shadow: 1px 1px #aaa3a3;
	top: 0;
	position: absolute;
	z-index: 1000;
	left: 0;
	display: inline-block;
	width: 320px;
	height: 190px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 8px;

	-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.card_orange {

	background: linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #c74261, #d62158);
}

.card_blue {

	background: linear-gradient(to right bottom, #699dfd, #61b5fa, #58aff6, #4b86c9, #2151d6);
}

.card_black {

	background: linear-gradient(to right bottom, #292929, #363636, #555555, #444444, #0f0f0f);
}

.card_purple {

	background: linear-gradient(to right bottom, #7a43df, #644897, #8964cf, #633cac, #512c96);
}

.card__front {

	padding: 18px;
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
}

.card__back {

	padding: 18px 0;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}

.card__black_line {
    
	margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    
	height: 16px !important;
}

.card__front_chip {

	left: 1.2rem;
	height: 1.5rem !important;
	position: absolute;
}

.card__front_logo {
	
	position: absolute;
    top: 18px;
    right: 18px;
}

.card__square {
    
	border-radius: 5px;
    height: 30px !important;
}

.card_number {
    
	display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space_75 {
    
	width: 75%;
    float: left;
}

.card__space_25 {
    
	width: 25%;
    float: left;
}

.card__label {
    
	font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
	
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card__back_content {
    
	padding: 15px 15px 0;
}
.card__secret__last {
    
	color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    
	padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before {
  	
	content:'';
  	position: absolute;
	top: -3px;
	left: -3px;
	height: calc(100% + 6px);
	width: calc(100% - 42px);
	border-radius: 4px;
	background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back_logo {
    
	position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back_square {
    
	position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.card:hover .card__back {
    
	-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}